*{
    padding: 0px;
    margin: 0px;
    font-family:sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 140%;
}
header{
    text-align: center;
    padding: 20px;
}
header.navigation{
    display: flex;
    padding: 25px 2%;
    justify-content: space-between;
    align-items: center;
    background-color:slateblue;
}

.navigation h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.navigation nav .nav-link{
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgb(207, 198, 243);
}
aside{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 9px solid rgb(33, 27, 56);
    height: 47%;
    background-color: rgb(59, 37, 139);
    align-items: center;
    justify-content: space-around;
}

footer{
    padding: 15px;
    background-color: rgb(33, 27, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(224, 217, 243);
    height: 5%;

}

h2{
    padding: 15px 2%;
    display: flex;
    align-items: center;
}
p{
    padding: 15px 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#Biography{
    display: flex;
    flex: 4;
    border-top: 9px solid rgb(33, 27, 56);
    border-bottom: 9px solid rgb(33, 27, 56);
    height: 47%;
    padding: 20px;
    flex-direction: column;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    height: 37;
    width: 100%;
    border-bottom: 9px solid rgb(33, 27, 56);
}

#projects .Project{
    border: 3px double rgb(33, 27, 56);
    border-radius: 10px;
    padding: 10px;
    flex:0 0 16% ;
    background-color:slateblue;
}
  .Project img{
    margin-left: 86px;
  }
  .Project p{
    text-align: center;
  }

#contact-us{
    width: 100%;
    height: 15%;
}

#contact-us ul{
    display: flex;
    justify-content: space-around;
}








